<%- include("templates/head") %>
<body>
    <header>
    <h1><%= nombre %></h1>
    <img src="icons/logotravel.png" alt="">
    </header>
    <%- include("templates/menu") %>    
    <main>
    <p class="descri"><%= descripcion %></p>
    <p class="precio"><%= precio %></p>

    <img src="<%= img %>" alt="<%= descripcion %>">
    </main>
    <%- include ("templates/footer") %>  
</body>
</html>